---
interface Props {
  name: string
  image?: string
  class?: string
  size: 'normal' | 'small'
  slug: string
  pvs?: string
}

const {
  name,
  image,
  class: className,
  size = 'normal',
  slug,
  pvs = ''
} = Astro.props
---

<a
  href={`${pvs}${slug}`}
  class:list={['flex-col flex gap-1 items-center', className]}>
  <div
    class:list={[
      'flex items-center justify-center',
      size == 'normal' ? 'w-[160px] h-[160px] ' : 'w-[100px] h-[100px] '
    ]}>
    <img
      src={image || 'imgg.png'}
      alt={name}
      class='rounded-md w-full object-cover'
      loading='lazy'
    />
  </div>
  <h2 class='tracking-tight font-medium text-2xl'>
    {name}
  </h2>
  <slot />
</a>
