<footer class='bg-[#000E25] px-8 pb-4 flex flex-col items-center pt-1 relative'>
  <div class='flex justify-center'>
    <p
      class='bg-gradient-to-b from-white to-transparent text-[240px] bg-clip-text text-transparent inline-block opacity-20'>
      UETA
    </p>
  </div>
  <div
    class='flex flex-col items-center z-10 text-white text-sm w-full gap-4 absolute bottom-4'>
    <div class='flex gap-6'>
      <div>
        <p>About Us</p>
      </div>
      <div>
        <p>Service</p>
      </div>
    </div>
    <div
      class='bg-gradient-to-r from-transparent via-white to-transparent h-0.5 mx-8 w-full'>
    </div>
    <p class=''>
      © Copyright {new Date().getFullYear()}, All Rights Reserved by Ueta
    </p>
  </div>
</footer>
